/**
Created by Georgi Nedelchev
KST - 19321028
Date: 15.04.2022
 */

/*
Body and main container
 */
body {
  background: url("./images/background.jpg") repeat;
  font-family: verdana;
}

a {
	color: lightblue;
    font-weight: bold;
}

.mainContainer {
  width: 70%;
  background: rgba(0,0,0,0.6);
  margin: 0 auto;
  color: white;
}

.leftContent {
	float: left;
    width: 45%;
    margin-left: 5%;
}
.rightContent {
	float: right;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.clearer {
	clear: both;
}

/*
Header
 */
header {
  text-align: center;
}

.siteTitle {
  text-transform: uppercase;
  font-size: 26px;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

/*
Main Content
 */
.container {
	margin: 10px 0;
}

/*
Tabs
*/
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  min-width: 100px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
	background-color: #999;
    color: #f1f1f1;
    font-weight: bold;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/*
Contacts
*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #999;
  color: white;
}

/*
Gallery
*/
div.gallery {
  margin: 5px 20px;
  border: 1px solid #ccc;
  float: left;
  width: 20%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/*
Footer
 */
footer {
  height: 40px;
  border-top: 1px solid white;
  position: relative;
}
.coppyright {
  float: left;
  margin: 10px;
}
.author {
  float: right;
  margin: 10px;
}

/*
Animations
 */
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}